<html xmlns:th="http://thymeleaf.org">
<head>
<title>Mars Rover</title>
<link rel="shortcut icon" href="#">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous" />

</head>
<body>
	<div class="container">
		<h2>Welcome to the Mars Rover API Web App</h2>
		<form method="get" action="" id="frmRoverType">
			<input type="hidden" th:field="${homeDto.marsApiRoverData}" />
			<div class="btn-group btn-group-lg" role="group"
				aria-label="Basic example" style="margin: 2em 0em;">
				<button type="button" class="btn btn-secondary"
					id="marsApiCuriosity">Curiosity</button>
				<button type="button" class="btn btn-secondary"
					id="marsApiOpportunity">Opportunity</button>
				<button type="button" class="btn btn-secondary" id="marsApiSpirit">Spirit</button>
			</div>

			<div class="row">
				<div class="col-12 col-md-4">
					<div class="form-check">
						<input class="form-check-input" type="checkbox"
							th:field="${homeDto.cameraFhaz}"
							th:disabled="${!#lists.contains(validCameras,'FHAZ')}"> <label
							class="form-check-label" for="cameraFhaz1"> Front Hazard
							Avoidance Camera </label>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="form-check">
						<input class="form-check-input" type="checkbox"
							th:field="${homeDto.cameraRhaz}"> <label
							class="form-check-label" for="cameraRhaz1"
							th:disabled="${!#lists.contains(validCameras,'FHAZ')}">
							Rear Hazard Avoidance Camera </label>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="form-check">
						<input class="form-check-input" type="checkbox"
							th:field="${homeDto.cameraMast}"
							th:disabled="${!#lists.contains(validCameras,'MAST')}"> <label
							class="form-check-label" for="cameraMast1"> Mast Camera </label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-4">
					<div class="form-check">
						<input class="form-check-input" type="checkbox"
							th:field="${homeDto.cameraChemcam}"
							th:disabled="${!#lists.contains(validCameras,'CHEMCAM')}">
						<label class="form-check-label" for="cameraChemcam1">
							Chemistry and Camera Complex </label>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="form-check">
						<input class="form-check-input" type="checkbox"
							th:field="${homeDto.cameraMahli}"
							th:disabled="${!#lists.contains(validCameras,'MAHLI')}">
						<label class="form-check-label" for="cameraMahli1"> Mars
							Hand Lens Imager </label>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="form-check">
						<input class="form-check-input" type="checkbox"
							th:field="${homeDto.cameraMardi}"
							th:disabled="${!#lists.contains(validCameras,'MARDI')}">
						<label class="form-check-label" for="cameraMardi1"> Mars
							Descent Imager </label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-4">
					<div class="form-check">
						<input class="form-check-input" type="checkbox"
							th:field="${homeDto.cameraNavcam}"
							th:disabled="${!#lists.contains(validCameras,'NAVCAM')}">
						<label class="form-check-label" for="cameraNavcam1">
							Navigation Camera </label>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="form-check">
						<input class="form-check-input" type="checkbox"
							th:field="${homeDto.cameraPancam}"
							th:disabled="${!#lists.contains(validCameras,'PANCAM')}">
						<label class="form-check-label" for="cameraPancam1">
							Panoramic Camera </label>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="form-check">
						<input class="form-check-input" type="checkbox"
							th:field="${homeDto.cameraMinites}"
							th:disabled="${!#lists.contains(validCameras,'MINITES')}">
						<label class="form-check-label" for="cameraMinites1">
							Miniature Thermal Emission Spectrometer (Mini-TES) </label>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="marsSol" class="col-form-label col-form-label-lg">Mars
					Sol (Mars Day):</label> <input class="form-control form-control-lg"
					type="number" th:field="${homeDto.marsSol}" min="0" />
			</div>

			<div class="row">
				<div class="col-4 col-sm-4 col-md-2" style="margin-top: 0.85em;">
					<button type="submit" class="btn btn-primary btn-lg">Submit</button>
				</div>
				<div class="col-4 col-sm-4 col-md-6" style="margin-top: 1.5em;">
					<input type="checkbox" th:field="${homeDto.rememberPreferences}" />
					<label for="rememberPreferences1">Remember Preferences</label>
				</div>
			</div>
		</form>

		<div
			th:each="index : ${#numbers.sequence(0,roverData.photos.size(),4)}"
			class="row" style="margin-bottom: 2em;">
			<div class="col-12 col-md-4 col-lg-3"
				th:if="${roverData.photos.size() > index}">
				<img th:src="${roverData.photos[index].imgSrc}" class="img-fluid" />
			</div>
			<div class="col-12 col-md-4 col-lg-3"
				th:if="${roverData.photos.size() > index+1}">
				<img th:src="${roverData.photos[index+1].imgSrc}" class="img-fluid" />
			</div>
			<div class="col-12 col-md-4 col-lg-3"
				th:if="${roverData.photos.size() > index+2}">
				<img th:src="${roverData.photos[index+2].imgSrc}" class="img-fluid" />
			</div>
			<div class="col-12 col-md-4 col-lg-3"
				th:if="${roverData.photos.size() > index+3}">
				<img th:src="${roverData.photos[index+3].imgSrc}" class="img-fluid" />
			</div>
		</div>
	</div>
	<!--<img th:each="photo : ${roverData.photos}" th:src="${photo.imgSrc}" />-->
	<!-- <div th:text="${roverData}"> </div>-->
</body>
<script type="text/javascript" src="/js/index.js">
	
</script>
</html>